<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/design.css">
</head>
<body>
    <!-- heading -->
    <h1 id="searchh1" class="text-center">Search Your Movie Here</h1>
    <!-- search form -->
    <form action="/results" method="GET" class="justify-content-center d-flex">
        <input type="text" name="search" class="form-control w-25" placeholder="Enter Movie Name">
        <button class="ml-3 text-center btn btn-success">Search Movie</button>
    </form>
</body>
</html>